@import url("bootstrap.css");

@import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");

@import url("chosen.css");
body {
  background-color: #2ABBFF;
}
header {
  width: 22%;
  background-color: #155D7F;
  min-height: 600px;
  height: 100%;
  position: absolute;
}
header ul {
  text-align: center;
  padding: 0;
  margin-top: 50%;
}
header li {
  list-style: none;
  margin-top: 10px;
}
header li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1.4;
}
header #login-area {
  text-align: center;
  margin-top: 36%;
  color: rgba(255, 255, 255, 0.81);
}
header #login-area i,
header #login-area p,
header #login-area #profil-picture {
  border-radius: 50px;
  cursor: pointer;
}
header #login-area i:hover,
header #login-area p:hover,
header #login-area #profil-picture:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
footer {
  position: absolute;
  bottom: 100px;
}
#library-nav {
  width: 100%;
  background-color: #95DDFF;
  padding: 8px 10px 6px 10px;
  box-shadow: 0px 1px 20px 3px #155D7F;
  margin-bottom: 100px;
  cursor: pointer;
}
#library-nav input {
  width: 250px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 1px 1px rgba(11, 50, 68, 0.76);
  padding: 0px 7px 0px 7px;
}
#library-nav .add-button-settings {
  padding-left: 27%;
}
#library-nav .add-button-settings #add-button {
  width: 100px;
}
#nav-search {
  padding-left: 490px;
  position: relative;
}
#nav-menu-ul {
  list-style-type: none;
  margin-left: 0;
  width: 20%;
  position: relative;
  left: 5px;
  padding-left: 80px;
}
#nav-menu-ul li {
  cursor: pointer;
}
p {
  text-align: center;
}
p.exitModal {
  display: inline-block;
  position: absolute;
  right: -14px;
  font-size: 15px;
  background-color: #0f1f25;
  padding: 4px 10px 4px 10px;
  color: #c4d4da;
  -webkit-border-radius: 47px;
  -moz-border-radius: 47px;
  border-radius: 47px;
  top: -12px;
  cursor: pointer;
  -webkit-box-shadow: -1px 1px 6px #73777a;
  -moz-box-shadow: -1px 1px 6px #73777a;
  box-shadow: -1px 1px 6px #73777a;
}
.mailError {
  border-color: red;
}
.mailVerified {
  border-color: #4F8A10;
}
#main-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 22%;
  top: 0;
  z-index: 1;
  background-color: rgba(9, 31, 43, 0.89);
  display: none;
}
#main {
  margin-left: 22%;
}
#main #addButton {
  text-align: center;
}
#main #addButton input {
  width: 15%;
  text-transform: uppercase;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  font-size: 1.3em;
}
#main #addCodesnip {
  text-align: center;
  position: absolute;
  width: 500px;
  height: 540px;
  background-color: #c4d4da;
  z-index: 69;
  left: 40%;
  top: -540px;
  border-radius: 10px;
  border: 2px solid #2ABBFF;
  -webkit-box-shadow: 0px 0px 29px #050B0E;
  -moz-box-shadow: 0px 0px 29px #050B0E;
  box-shadow: 0px 0px 29px #050B0E;
}
#main #addCodesnip form {
  padding: 12px;
  height: 100%;
  margin: 0 20px 0 20px;
}
#main #addCodesnip form input {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
#main #addCodesnip form #codeEditor {
  background-color: white;
  height: 160px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
}
#main #addCodesnip form #codeEditor textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}
#main #addCodesnip form #codeEditor .ng-hide {
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#main #addCodesnip form #codeEditor h2 {
  padding-top: 14%;
  color: #596569;
}
#main #addCodesnip form input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #072431;
  height: 33px;
  padding: 8px;
}
#main #addCodesnip form button {
  display: block;
  margin: auto;
}
#main #addCodesnip form .twoColumn .tagsBox {
  float: left;
  display: inline;
  width: 50%;
}
#main #addCodesnip form .twoColumn .tagsBox #tags-list-box {
  background-color: white;
  width: 100%;
  height: 80px;
  border-radius: 10px;
}
#main #addCodesnip form .twoColumn .tagsBox #tags-list-box ul {
  list-style: none;
}
#main #addCodesnip form .twoColumn .tagsBox #tags-list-box ul li {
  margin: 4px 2px 4px 2px;
  float: left;
}
#main #addCodesnip form .twoColumn .tagsBox #tags-list-box ul li span {
  background-color: #2ABBFF;
  color: white;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
}
#main #addCodesnip form .twoColumn .tagsBox #tags-list-box ul li span:hover {
  opacity: .7;
}
#main #addCodesnip form .twoColumn .categoryDropdown {
  display: inline;
}
#main #addCodesnip form .twoColumn .categoryDropdown label[for="categorySelect"] {
  display: block;
  padding-top: 10px;
}
#main #banner {
  text-align: center;
  margin-top: 20%;
}
#main #banner h1 {
  text-transform: uppercase;
  font-size: 110px;
}
#main #banner .lead {
  font-style: italic;
}
#main #banner input {
  box-shadow: 0px 0px 6px #000;
  -webkit-box-shadow: 0px 0px 6px #000;
  -moz-box-shadow: 0px 0px 6px #000;
  width: 250px;
  margin: auto;
  margin-top: 10%;
}
#form .fa-thumbs-up {
  padding: 70px;
  font-size: 20em;
  color: #07940C;
}
#form .fa-thumbs-down {
  padding: 70px;
  font-size: 20em;
  color: red;
}
.error {
  color: red;
}
.text-primary {
  color: #2c3e50;
}
.text-success {
  color: #18bc9c;
}
.text-danger {
  color: #e74c3c;
}
.text-warning {
  color: #f39c12;
}
.text-info {
  color: #3498db;
}
.table tr.success,
.table tr.warning,
.table tr.danger {
  color: #fff;
}
.form-control,
textarea.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-width: 2px;
}
.has-warning .help-block,
.has-warning .control-label {
  color: #f39c12;
}
.has-warning .form-control,
.has-warning .form-control:focus {
  border: 2px solid #f39c12;
}
.has-error .help-block,
.has-error .control-label {
  color: #e74c3c;
}
.has-error .form-control,
.has-error .form-control:focus {
  border: 2px solid #e74c3c;
}
.has-success .help-block,
.has-success .control-label {
  color: #18bc9c;
}
.has-success .form-control,
.has-success .form-control:focus {
  border: 2px solid #18bc9c;
}
.pagination a {
  color: #fff;
}
.pagination a:hover {
  color: #2c3e50;
}
.pagination .disabled > a,
.pagination .disabled > a:hover,
.pagination .disabled > a:focus,
.pagination .disabled > span {
  background-color: #3be6c4;
}
.pager a {
  color: #fff;
}
.pager a:hover {
  color: #2c3e50;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  background-color: #3be6c4;
}
.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}
.progress {
  height: 10px;
}
.well {
  border-width: 0;
}
#modal-area {
  position: absolute;
  background-color: #E1F2F8;
  z-index: 69;
  border-radius: 10px;
  border: 2px solid #2ABBFF;
  -webkit-box-shadow: 0px 0px 29px #050B0E;
  -moz-box-shadow: 0px 0px 29px #050B0E;
  box-shadow: 0px 0px 29px #050B0E;
  left: 50%;
  top: 32%;
  width: 400px;
  padding: 5px 20px;
  text-align: center;
}
#modal-area .btn {
  width: 82px;
  margin: 0px 11px;
}
#modal-area ul {
  list-style: none;
}
#modal-area ul li {
  cursor: pointer;
  display: inline-block;
  margin: 0px 10px;
}
#library-sort {
  cursor: pointer;
  padding-bottom: 20px;
}
#library-sort #library-sort-list {
  list-style-type: none;
  padding-left: 0px;
  padding-top: 5px;
}
#library-ul {
  width: 103%;
}
#library-ul .col-lg-2 {
  background-color: #95DDFF;
  padding: 7px 0px 18px 9px;
  left: -38px;
  height: 50px;
}
#library-ul .col-lg-1 {
  background-color: #95DDFF;
  padding: 7px 0px 18px 9px;
  left: -38px;
  height: 50px;
}
#library-ul .picture {
  padding-left: 150px;
}
#library-ul #library-draw {
  background-color: #c4d4da;
}
#library-ul #library-split {
  padding-bottom: 38px;
}
#library-ul p {
  display: inline-block;
  position: absolute;
  right: -14px;
  font-size: 15px;
  background-color: #0f1f25;
  padding: 4px 10px 4px 10px;
  color: #c4d4da;
  -webkit-border-radius: 47px;
  -moz-border-radius: 47px;
  border-radius: 47px;
  top: -12px;
  cursor: pointer;
  -webkit-box-shadow: -1px 1px 6px #73777a;
  -moz-box-shadow: -1px 1px 6px #73777a;
  box-shadow: -1px 1px 6px #73777a;
}
.new-password-form {
  padding-left: 40%;
}
.new-password-form .error {
  padding: 0% 16% 0% 15%;
}
.new-password-form #password {
  width: 50%;
}
.new-password-form #submit-button {
  width: 50%;
}
