.new-password-form {
	.error {
		padding: 0% 16% 0% 15%;
	}
	padding-left:40%;
	#password {
		width:50%
	}

	#submit-button{
		width:50%
	}
}

.tag-content{
	
}

.tags {
	padding: 4px;
	border: 1px solid @left-blue;
	margin: 1px 2px;
	border-radius: 3px;
	cursor:pointer;
	background-color: @orange;
	float: left;

	&.active {
		background-color: @orange !important;
	}

	&:hover {
		background-color: @state-danger-text;
		color:            @white;
		border-color: 	  @state-danger-border;
	}

	&.list {
		border:1px solid rgba(14, 49, 74, 0.58);
		background-color: transparent;
		&:hover{background-color:@orange;}
	}
}