.new-password-form {
	.error {
		padding: 0% 16% 0% 15%;
	}
	padding-left:40%;
	#password {
		width:50%
	}

	#submit-button{
		width:50%
	}
}

.tag-content{
	position: absolute;
	top: -8px;
	left: 15px;
}

.tags{
	padding: 4px;
	border: 1px solid #ccc;
	margin: 0 2px;
	border-radius: 3px;
}