 #library-nav {
 	width:100%;
 	background-color:#95DDFF;
	padding: 8px 10px 6px 10px;
 	box-shadow: 0px 1px 20px 3px #155D7F;
	margin-bottom: 100px;
	input {
	 width: 250px;
	 border-radius: 4px;
	 border: none;
	 box-shadow: 0px 0px 1px 1px rgba(11, 50, 68, 0.76);
	 padding: 0px 7px 0px 7px;
	}
	
 }

 .col-lg-4 {


 	#library-menu-ul {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
	width: 20%;
	background-color:#95DDFF;
	position: absolute;
	left: 5px;
	padding-left:9px;

 	}

 	p{
 	text-align:center;
 	}

  


 }

 #library-ul {
 	width: 103%;
		.col-lg-3 {
			background-color:#95DDFF;
			padding: 2px 0px 18px 9px;
			left: -38px;
			height: 40px;

			
		}
		.user{
		padding-left:255px;
		

		}
		#library-draw {
			background-color: rgb(196, 212, 218);
		}
		
	}
	


