#library-sort {
	cursor:pointer;
	padding-bottom: 20px;

	#library-sort-list {
		list-style-type: none;
		padding-left:0px;
		padding-top: 5px;
			

	}
}
 

 

 #library-ul {
 	width: 103%;
		.col-lg-2 {
			background-color:#95DDFF;
			padding: 7px 0px 18px 9px;
			left: -38px;
			height: 50px;

			
		}
		.col-lg-1 {
			background-color:#95DDFF;
			padding: 7px 0px 18px 9px;
			left: -38px;
			height: 50px;

			
		}
		.picture{
		padding-left:150px;

		}
		#library-draw {
			background-color: rgb(196, 212, 218);
		}
		#library-split {
		padding-bottom: 38px;
		}
		p{
  			display: inline-block;
  			position: absolute;
  			right: -14px;
  			font-size: 15px;
  			background-color: rgb(15, 31, 37);
  			padding: 4px 10px 4px 10px;
  			color: rgb(196, 212, 218);
  			-webkit-border-radius: 47px;
  			-moz-border-radius: 47px;
  			border-radius: 47px;
  			top: -12px;
  			cursor: pointer;
  			-webkit-box-shadow: -1px 1px 6px rgb(115, 119, 122);
  			-moz-box-shadow: -1px 1px 6px rgb(115, 119, 122);
  			box-shadow: -1px 1px 6px rgb(115, 119, 122);
  		}
			
	}
	


