#modal-area{
	position: absolute;
	background-color: @left-blue;
	z-index: 69;
	border-radius: 10px;
	border: 3px solid @orange;
	-webkit-box-shadow: 0px 0px 29px #050B0E;
	-moz-box-shadow: 0px 0px 29px #050B0E;
	box-shadow: 0px 0px 29px #050B0E;
	left: 38%;
	top: 18%;
	width: 600px;
	padding: 5px 20px;
	text-align: center;

	h1 {
		color: @orange;
	}
	
	.form-group {
		padding-top: 5px;
	}
	.form-control {
		border: 2px solid @orange
	}

	.form-input-style {
		padding-bottom: 5px;

	}
	#profil-picture{
		border-radius:50px;	
		border: 2px solid @orange;
	}


	.btn {
		width: 150px;
		margin: 0px 11px;
	}
	ul {
		list-style: none;
		li {
			cursor: pointer;
			display: inline-block;
			margin: 0px 10px;
		}
	}
	.recoverBtn {
		padding-top: 10px;
	}
}

.modal {
		text-align: center;

	position: fixed;
	left: 32%;
	right: 0;
	width: 35%;
	display: block;
	z-index: 100;
	color: @dark;
	text-align: center;

	.modal-inner{
		position:relative;
		background-color: @left-blue;
		border: 3px solid @orange;

	}
	.form-control {
		border: 3px solid @orange
	} 




	h1 {
		color: @orange;
	}
	.modal-header {
		background:@white;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,0.8);   
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);   
		box-shadow: 0 0 10px rgba(0,0,0,0.8);
		padding:1px;
	}

	.modal-body {
		background: #fff;
		padding:25px;
		-moz-box-shadow: inset 0 0 2px #000000;
		-webkit-box-shadow: inset 0 0 2px #000000;
		box-shadow: inset 0 0 2px #000000;
	}
}


