<div ng-init ="init()">
	<p class="lead"> Your Own Code Library</p>

	<section id="snippets">
		<div class="content">
			<section class="listArea">
				<ul>
					<li ng-repeat = "snippet in snippetsCollection" ng-click="expandSnippet(snippet)">
						<div class="row snippets-list-home">
							<div class="col-lg-1">
								<img ng-if="snippet.owner.gravatar" class="rounded" src="{{snippet.owner.gravatar}}">
								<p>{{snippet.owner.username}}</p>
							</div>

							<div class="col-lg-6">
								<h5>{{snippet.title}}</h5>
								<p>{{snippet.description}}</p>
								<p class="font-xsmall">Created: {{snippet.timeCreated | date:'MM/dd/yyyy @ h:mma'}}</p>
							</div>
							<div class="col-lg-5">
								<div class="tags-section">
								<span class="tags font-xsmall" ng-repeat="tag in snippet.tags">
									{{tag}},
								</span>
								</div>
								<h3 class="font-xsmall" ng-show="snippet.link.length > 0"><a href="{{snippet.link}}" target="_blank">Url</a></h3>
							</div>
						</div>


						<section class="show-hide-code" ng-show="snippet.expandCode">
							<div class="row expand-code">
								<div class="editor" id="editor_{{snippet._id}}">	
									<p class="lead">{{snippet.code}}</p>
								</div>
							</div>

							<div class="center-block">
								<i class="cursor expand fa fa-long-arrow-up fa-1x" ng-click="hideSnippet(snippet, $event)"></i>
							</div>
						</section>
					</li>
				</ul>
				<p class="lead error" ng-hide="libraryBoolean.login"> Log in to get to your own library </p>
			</section>
		</div>
	</section>
</div>