<div ng-init ="init()">
	<nav id="library-nav">
		<div class="row">
		<div class="col-lg-4">
		<i class="fa fa-align-justify fa-2x" ng-click="menu()"></i> 
		<ul id="library-menu-ul" ng-show="menuBoolean.showMenu">
			<li >Swag </li>
			<li > Lol </li>
			<li > Test </li>
			<li > Test 2</li>

		
		</ul>

		</div>
		<div class="col-lg-4">
		<input type="search" placeholder="Search">
		</div>
		<div class="col-lg-4">
			<p>Codesnippets</p>
		</div>

		</div>

	</nav>
	

	<p>Snippets Library</p> 

	<ul id="library-ul" ng-repeat = "snippet in snippetsCollection">
		<div class="col-lg-4"> Title: {{snippet.title}} </div>
		<div class="col-lg-4"> Category: {{snippet.category}} </div>
		<div class="col-lg-4"> Description: {{snippet.description}} </div>	
	</ul>

</div>