<div>
<form>
<p class="exitModal" ng-click="closeClicked()"> X </p> 
<h1>Login</h1>
<p class="error" ng-show="modal.showerror">Wrong username or password!</p>
	<div class="form-group">
    <input type="text" class="form-control" ng-model="modal.username" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" ng-model="modal.password" placeholder="Password">
  </div>
<ul>
	<li><i class="fa fa-twitter fa-2x"></i></li>
	<li><i class="fa fa-github-alt fa-2x"></i></li>
	<li><i class="fa fa-facebook fa-2x"></i></li>
	<li><i class="fa fa-google-plus fa-2x"></i></li>
</ul>

<input type="button" ng-click="loginClicked()" class="btn btn-primary" value="Login">
<input type="button" ng-click="registerClicked()" class="btn btn-primary" value="Register">
</form>
</div>
