<form>
<p class="exitModal" ng-click="closeOnClick()"> X </p> 
<h1>Login</h2>
	<div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
<ul>
	<li><i class="fa fa-twitter fa-2x"></i></li>
	<li><i class="fa fa-github-alt fa-2x"></i></li>
	<li><i class="fa fa-facebook fa-2x"></i></li>
	<li><i class="fa fa-google-plus fa-2x"></i></li>
</ul>

<input type="button" class="btn btn-primary" value="Login">
<input type="button" class="btn btn-primary" value="Register">
</form>
