<div ng-init ="init()" class="form-group">
<form name="setNewPasswordForm" class="new-password-form"novalidate>
  <h1>SET NEW PASSWORD</h1>
  <div class="form-group">
  	<input type="password" name ="passwordOne" class="form-control" ng-model="user.passwordOne" placeholder="New password"  id="password"required>
  	<input type="password" name ="passwordTwo" class="form-control" ng-model="user.passwordTwo" placeholder="Repeat password"  id="password"required>
  	<span class="error" ng-model="error" ng-show="modal.showErrorMessage">{{modal.errorMessage}}</span>
 <input id="submit-button" type="button" ng-click="setNewPassword(setNewPasswordForm)" class="btn btn-primary" value="Sumbit">
</form>
</div>

