<div ng-show="modalDisplayed" ng-include="" src=" 'partials/modalTrue.html' ">
</div>

<div ng-show="AddFunctionFailed" ng-include="" src=" 'partials/modalFail.html' ">
</div>

<form ng-show="showForm">
	<p ng-click="closeOnClick()" class="exitModal">X</p> 
	<input type="text" placeholder="Title" ng-model="snippet.title">

	<div id="codeEditor" ng-click="codeEditorOnClick($event)">
		<textarea id="code-editor-textarea" ng-model="snippet.codeSnippet" class="ng-hide" ng-show="codeEditorClicked"></textarea>
		<h2 ng-hide="codeEditorClicked">&#60;Code&#62;</h2>
	</div>

	<input type="text" placeholder="Description" ng-model="snippet.description" >

	<div class="twoColumn">
		<div class="tagsBox">
			<input on-focus="setTagTextFocused(true)" on-blur="setTagTextFocused(false)" type="text" ng-keyup="tagKeyUp($event)" placeholder="Tags" ng-model="$parent.tagText">
			<div id="tags-list-box">
				<ul>
					<li ng-repeat="tag in snippet.tags">
						<span ng-click="tagClick($event, $index)"> {{tag}} </span>
					</li>	
				</ul>
			</div>
		</div>

		<div class="categoryDropdown">
			<label for="categorySelect"> Choose category: </label>
			<select id="categorySelect" name"categorySelect"> 		
				<option>Java</option>
				<option>JavaScript</option>
				<option>CSS</option>
			</select>
		</div>	
	</div>

	<input type="text" placeholder="Stack Overflow URL" ng-model="snippet.stackOverflowUrl">
	<button class="btn btn-large btn-primary" ng-click="createCodeSnippet()">Add</button>
</form>
